apparmor==2.13.4
appdirs==1.4.4
application-utility==1.3.2
astroid==2.4.1
autopep8==1.5.3
bauh==0.9.4
beautifulsoup4==4.9.1
btrfsutil==1.2.0
CacheControl==0.12.6
caffeine-ng==3.4.2
cffi==1.14.0
chardet==3.0.4
chrome-gnome-shell==0.0.0
cli-helpers==2.0.1
click==7.1.2
colorama==0.4.3
configobj==5.0.6
contextlib2==0.6.0.post1
cryptography==2.9.2
distlib==0.3.0
distro==1.5.0
docopt==0.6.2
ewmh==0.1.6
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.8
gestures==0.2.2
gufw==20.4.0
gunicorn==20.0.4
html5lib==1.0.1
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
layoutswitcherlib==0.8.8
lazy-object-proxy==1.4.3
LibAppArmor==2.13.4
louis==3.13.0
MarkupSafe==1.1.1
mccabe==0.6.1
msgpack==1.0.0
mycli==1.21.1
npyscreen==4.10.5
ordered-set==3.1.1
packaging==20.4
pacman-mirrors==4.16.4
pep517==0.8.2
Pillow==6.2.1
progress==1.5
prompt-toolkit==2.0.10
pwquality==1.4.2
pyaml==20.4.0
pycairo==1.19.1
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.6.1
PyGObject==3.36.1
pylint==2.5.2
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-sip==12.7.2
pysmbc==1.0.20
python-xlib==0.27
pytoml==0.1.21
pyxdg==0.26
PyYAML==5.3.1
ranger-fm==1.9.3
reportlab==3.5.42
requests==2.23.0
retrying==1.3.3
setproctitle==1.1.10
sip==4.19.22
six==1.15.0
soupsieve==1.9.5
sqlparse==0.3.1
tabulate==0.8.7
team==1.0
terminaltables==3.1.0
toml==0.10.1
ufw==0.36
urllib3==1.25.9
virtualenv==20.0.21
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
